.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

.player-cards {
    display: flex;
    gap: 10px;
}