.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #305a4a;
    background-image: url('/game-board-texture.jpg');
    background-position: center;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;;
}

header {
    font-size: larger;
    text-align: center;
    margin: 0;
}

header > h1 {
    font-family: 'Gagalin', sans-serif;
    letter-spacing: 5px;
    margin: 0;
}

button {
    border: none;
    background: none;
}

.play-button {
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    padding: 1rem;
    font-size: 25px;
    font-family: 'Gagalin', sans-serif;
    letter-spacing: 3px;
    margin-top: 3rem;
}

.how-to-play {
    padding: 0;
    margin: 0;
}

button:hover {
    color: red;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    height: 80%;
    aspect-ratio: 5/7;
    box-shadow: 4px 4px 10px black;
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-suit-top {
    margin: 1rem;
    width: 3rem;
    text-align: center;
}

.card-suit-top > h1, .card-suit-bot > h1 {
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: auto;
    font-size: 36px;
    font-weight: 800;
}

.card-suit-bot {
    rotate: 180deg;
}

.card-suit-bot {
    margin: 1rem 1rem 1rem auto;
    width: 3rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    height: 3rem;
    width: 3rem;
}

ul {
    margin: 0;
    padding: 0;
}

.quit {
    margin: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Gagalin', sans-serif;
    font-size: 200%;
    letter-spacing: 3px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0127178e;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 60%;
    max-width: 800px;
    min-width: 0;
    height: 70%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid #305a4a;
}

.modal-container2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid #305a4a;
}

.modal-title {
    font-family: 'Gagalin', sans-serif;
    letter-spacing: 3px;
    margin: 2rem 1rem;
}

.modal-body {
    max-width: 100%;
    min-width: 0;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    border: 2px solid #305a4a;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.modal-exit-button {
    font-family: 'Gagalin', sans-serif;
    letter-spacing: 3px;
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0.5rem 1rem;
    background: #305a4aaf;
    border-radius: 5px;
}

.modal-buttons {
    border-top: 2px solid rgba(128, 128, 128, 0.199);
    margin-top: auto;
    width: 100%;
}

.modal-exit {
    margin-left: auto;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
}

.join-row {
    text-align: start;
    width: 100%;
    margin: .3em 0;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.room-header {
    margin: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
}

ul {
    border-radius: 10px;
    padding: .5rem;
}

li {
    list-style-type: square;
    margin: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid grey;
}

.players > h3 {
    padding: 0;
    margin: 0 0 0 0;
}

.leave-btn {
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    padding: 1rem;
    font-size: 15px;
    font-family: 'Gagalin', sans-serif;
    letter-spacing: 3px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.isReady {
    color: rgb(150, 150, 150);
}

.chat-box-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(134, 134, 134, 0.301);
    width: 40%;
    max-height: 35%;
    z-index: 500;
    overflow: hidden;
}

.chat-box { 
    background-color: rgba(255, 255, 255, 0.466);
    border: none;
    margin: 0 .5rem .5rem .5rem;
    padding: .3rem;
}

.chat-messages {
    margin: .5rem;
    height: auto;
    overflow-y: scroll;
    overflow-x: visible;
}

.hide-chat {
    display: none;
}

b {
    color: rgb(85, 17, 17);
}