<div class="card-scene">
    <div class="container" [class.is-shown]="!isCardHidden">
                <div class="card-back"></div>

                <div class="card-front">
                    <section class="card-suit-top">
                        <h1>{{ card.rank }}</h1>
                        <img 
                            src="{{ card.suit.imageUrl }}" 
                            alt="Playing Card {{ card.suit.name }}" 
                        />
                    </section>
                    <div class="card-center">
                        <img 
                            src="{{ card.suit.imageUrl }}" 
                            alt="Playing Card {{ card.suit.name }}" 
                        />
                    </div>
                    <section class="card-suit-bot">
                        <h1>{{ card.rank }}</h1>
                        <img 
                            src="{{ card.suit.imageUrl }}" 
                            alt="Playing Card {{ card.suit.name }}" 
                        />
                    </section>
                </div>
    </div>
</div>
